body {
    background-color: rgb(241, 238, 238);
    height: 100vh;
}

#app {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}